{% extends "base.html" %}
{% load static %}


{% block title %} Home {% endblock %}
{% block css_files %} 
<link rel="stylesheet" href="{% static 'Blog/css/index.css' %}"> 
{% endblock %}

{% block content %} 


<div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <div class="carousel-inner">
      {% for object in obj %}
      <div class="carousel-item active">
        
        <img src="{{object.image.url}}" alt="Los Angeles" class="d-block w-100">
   
      </div>
      {% endfor %}
      
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
</div>

  <div class="container-fluid  bg-white p-3 text-center">
    <h3>Carousel Example</h3>
    <p class="text-center">The following example shows how to create a basic carousel with indicators and controls.</p>
  </div>
  



    <div class="container bg-white my-5">
  <div class="row">
    <div class="col-sm-8 px-4 mx-auto">
      <span class="display-3 mb-2">01</span>
      <h3 class="mb-2">Header</h3>
      <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam eos cupiditate accusamus facere nesciunt expedita sint beatae eligendi neque, aperiam soluta et sapiente similique impedit, voluptatum unde veritatis voluptatem!
      </p>
    </div>
    
   
      <div class="col-sm-3 px-5  px-sm-0 mx-auto">
        <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
          <div class="card-header">
            Header
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Warning card title
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div> 
    </div>
    </div>



    <div class="container bg-white my-5">
      <div class="row">
        <div class="col-sm-8 px-4 mx-auto">
          <span class="display-3 mb-2">02</span>
          <h3 class="mb-2">Header</h3>
          <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam eos cupiditate accusamus facere nesciunt expedita sint beatae eligendi neque, aperiam soluta et sapiente similique impedit, voluptatum unde veritatis voluptatem!
          </p>
        </div>
        
       
          <div class="col-sm-3 px-5  px-sm-0 mx-auto">
            <div class="card text-dark bg-danger mb-3" style="max-width: 18rem;">
              <div class="card-header">
                Header
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Warning card title
                </h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
              </div>
            </div> 
        </div>
        </div>

      <div class="container bg-white my-5">
        <div class="row">
          <div class="col-sm-8 px-4 mx-auto">
            <span class="display-3 mb-2">03</span>
            <h3 class="mb-2">Header</h3>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam eos cupiditate accusamus facere nesciunt expedita sint beatae eligendi neque, aperiam soluta et sapiente similique impedit, voluptatum unde veritatis voluptatem!
            </p>
          </div>
          
         
            <div class="col-sm-3 px-5  px-sm-0 mx-auto">
              <div class="card text-dark bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">
                  Header
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    Warning card title
                  </h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                </div>
              </div> 
          </div>
          </div>
             

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">List group item heading</h5>
                  <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small class="text-muted">1 gün önce eklendi</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">List group item heading</h5>
                  <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small class="text-muted">1 gün önce eklendi</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">List group item heading</h5> 
                  <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small class="text-muted">1 gün önce eklendi</small>
                </a>
              </div>
            </div>

            <div class="col-md-8 my-5">
              <h3 class="display-3"><center>Header</center></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iste autem, voluptas, pariatur quisquam consequatur maiores neque laudantium fugit sequi blanditiis ipsum. Numquam obcaecati modi at ut et ratione quos.
              Minima repudiandae aspernatur unde, quas perferendis ipsa ea praesentium commodi mollitia? Qui, provident ullam, repellendus itaque ratione ipsum perferendis, accusamus deserunt sequi non delectus quisquam voluptates omnis! Tenetur, dignissimos neque?
              Fuga, fugit. Sunt ut aut cum consectetur perspiciatis harum debitis repudiandae laboriosam sequi, minus ratione perferendis, nulla beatae possimus provident praesentium. Rerum, quo ex quas a expedita repellendus totam atque.
              Officia quo hic voluptatibus incidunt, blanditiis culpa nam similique sint voluptates. Ad, labore fuga non assumenda consectetur natus ex accusamus fugit a corporis, asperiores, porro nam eum ratione est! Ducimus.
              Architecto deleniti laudantium minima, quos maxime aut sed id saepe possimus reprehenderit harum quisquam totam obcaecati ad temporibus hic tempore corrupti, at fugiat amet molestias commodi. Alias sunt natus modi?
              Dolorem aut rerum neque deserunt consequuntur, expedita cum earum minima reiciendis debitis omnis optio, enim qui porro sequi molestiae? Omnis delectus tempore voluptas corporis dolorum illum corrupti eos, culpa quia.
              Ipsam quibusdam voluptatibus facilis dicta? Quidem aliquam consectetur non veritatis omnis assumenda voluptatum sed, itaque, aut facilis maiores maxime tenetur laboriosam eius distinctio mollitia debitis, pariatur cupiditate atque possimus aspernatur.
              Modi voluptate voluptas facere minima in, repudiandae deserunt ipsam voluptates rem accusantium atque nam numquam veritatis blanditiis, recusandae quo doloremque nemo quaerat dolores? Dolorem, magnam! Doloremque distinctio quibusdam blanditiis voluptatem?
              Suscipit commodi facere cumque. Dolores doloribus nam architecto at rem, molestias similique et temporibus, veritatis accusantium maiores ratione eos ipsam dignissimos dicta sed laudantium autem cumque cum voluptates. Quas, itaque!
              Officiis cupiditate voluptates itaque cumque laudantium nesciunt optio eum. Atque, facere architecto. Incidunt, delectus! Natus odit recusandae possimus exercitationem impedit nisi facere. Ducimus consequuntur cumque doloremque blanditiis at optio nostrum!</p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates similique, vitae, eius et voluptatem, numquam debitis tenetur necessitatibus voluptatum velit vero ipsum? Enim dignissimos porro repudiandae tenetur dolor, sunt provident?
              Inventore quos repellendus fugiat perferendis qui harum temporibus unde praesentium sequi debitis! Temporibus recusandae quasi, ipsum necessitatibus repellat, nobis unde neque minus, non debitis vitae! Numquam eveniet in accusamus dolore.
              Praesentium fuga aliquam aliquid quaerat in laudantium non impedit unde, corporis natus nostrum ipsum soluta nemo voluptate repellat dicta odit qui rerum eligendi suscipit! Harum enim natus officia ipsum sint!
              Sequi sit exercitationem fugit explicabo accusamus nostrum at vel nemo iure accusantium amet maiores neque quisquam facere, dolore pariatur recusandae, impedit facilis quasi dolor vitae! Quis exercitationem excepturi dolorum sapiente!
              Voluptates quisquam reprehenderit nihil cupiditate suscipit voluptatum nisi! Expedita nulla reiciendis adipisci illo cupiditate, maiores vitae voluptas aliquid quibusdam, dolorem dolore voluptatem laborum. Rerum ducimus nostrum nisi aliquid explicabo quo?
              Ipsum harum praesentium suscipit autem quae, id, natus rerum, voluptatibus mollitia placeat odit earum. Veniam quasi placeat quo deserunt ipsam consequuntur perferendis, modi eligendi. Quae iure voluptate maxime quos mollitia!
              Ab facere quibusdam impedit placeat ipsam, velit quas aperiam doloribus ullam illo libero dignissimos facilis harum laboriosam commodi et rem voluptate porro natus nihil? Et neque excepturi accusantium tempora in.
              Expedita quo neque sint nulla exercitationem laudantium at sapiente nesciunt natus vitae? Consequuntur iusto laudantium dolor dolorem inventore molestiae quo perspiciatis ea autem, aspernatur nulla nobis assumenda nam repudiandae possimus?
              Labore inventore laborum vero iure eligendi provident. Autem non iure distinctio, deleniti corporis ipsam at nisi! Hic quisquam sapiente fugit recusandae consequuntur, quia commodi accusamus quod fuga, molestiae ullam minima?
              Harum ipsa dignissimos id sed in ad aliquam! Ullam eos hic quasi itaque, cupiditate ut ad, accusamus consequatur sed ipsa dicta dignissimos nostrum. Cumque, nam quod. Neque reiciendis magnam delectus.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, repudiandae laborum! Nam vitae eius nihil minima iusto tenetur corrupti? Quod reprehenderit pariatur repellendus consequuntur laboriosam? Cum corporis voluptatibus explicabo eius.
              Quae dicta eveniet sapiente, voluptatibus aliquam, unde ad deserunt quo nesciunt laudantium quos non autem consequuntur numquam architecto molestiae saepe molestias beatae, rem et quam impedit cupiditate! Ipsam, sapiente deleniti.
              Necessitatibus labore ea laboriosam excepturi, magni esse, cum rerum, in obcaecati soluta fugit cupiditate! Quisquam dolorem quasi eos? Non dolor repellat deleniti corrupti, adipisci eos quod nam dicta corporis quis!
              Possimus a, molestias neque voluptate quia commodi eveniet voluptatibus. Quasi assumenda, modi unde soluta voluptates, architecto labore eligendi consectetur delectus cum doloribus, doloremque explicabo iure vitae repellendus magni minima animi.
              Recusandae inventore sint fugit? Esse quasi voluptates nostrum, amet, autem numquam non eos reiciendis illo eaque quisquam accusamus nemo? Praesentium qui obcaecati molestiae quae? Non beatae vel minus consectetur autem.
              Laudantium id doloribus tenetur cupiditate non architecto error corporis veniam ullam dolor dolores neque repudiandae expedita et omnis consequatur perferendis, autem magnam fuga explicabo sequi numquam ex corrupti laborum. Dolores.
              Hic vel nam saepe magni nemo sit voluptates ex nulla amet nisi. Explicabo voluptatem ducimus ex suscipit aperiam quos, consequatur quisquam, molestias commodi dicta rem iure eum aliquam est voluptates.
              Delectus quas nostrum saepe praesentium debitis veritatis, a aspernatur! Nulla temporibus inventore porro placeat ipsam iusto? Nostrum, architecto illo molestias, quaerat at illum doloremque cupiditate commodi non suscipit esse nihil.
              Sit doloremque maiores ipsam itaque rem dolor libero quaerat aspernatur temporibus, a rerum ex eligendi dolores quae quod culpa dignissimos explicabo animi voluptate eaque alias vel. Explicabo voluptatem vero delectus.
              Molestias, rerum, iure cupiditate quibusdam recusandae temporibus voluptatibus maxime, modi dolorem accusamus sit asperiores quia corporis. Voluptatibus deleniti illum facere harum laudantium non! Non, consequuntur possimus dignissimos obcaecati distinctio voluptas!
            </div>
          </div>
        </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            {% for Comment in Blog %}
            <form method="POST" action="">
              {% csrf_token %}
              <div class="form-group">
                {{ form.as_p }}
              </div>
              <button class="btn btn-primary btn-block">Comment</button>
            </form>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block js_files %}{% endblock %}