{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

  <div class="card mb-3">

    <img src=" {{ post.thumbnail.url }} " class="card-img-top" alt="...">
    
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.overview}}</p>
      <p class="card-text">{{post.content}}</p>
      <p class="card-text"><small class="text-muted">{{post.date|date}}|{{post.categories.all}}</small></p>
    </div>
  </div>

{% endblock %}